LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

//inputs
LOCATE COMP "bt[0]" SITE "P12"; // button
INPUT PORT "bt[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "bt[1]" SITE "P11"; // button
INPUT PORT "bt[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "dip" SITE "P13"; // dip
INPUT PORT "dip" IO_TYPE=LVCMOS33;

LOCATE COMP "rst" SITE "R7";
INPUT PORT "rst" IO_TYPE=LVCMOS33;

//outputs
LOCATE COMP "led[0]" SITE "B11"; // red
IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[1]" SITE "A12"; // blue
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;

LOCATE COMP "seg7[6]" SITE "F14"; // a
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[5]" SITE "G14"; // b
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[4]" SITE "H14"; // c
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[3]" SITE "J14"; // d
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[2]" SITE "K14"; // e
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[1]" SITE "F13"; // f
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[0]" SITE "G13"; // g
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "dot" SITE "H13"; // dot
IOBUF PORT "dot" IO_TYPE=LVCMOS33;

